* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.logo {
    width: 70%;
    order: 1;
    font-size: 2rem;
    font-weight: 800;
    padding-left: 13%;
    padding-right: auto;
    padding-top: 3%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    margin-left: 50px;
    margin-right: 50px;
    
}

nav ul {
    display: flex;
    order: 2;
}

nav ul a {
    color: black;
    font-size: 1.6rem;
    margin-left: 2rem;
}

.container {
    height: 600px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.container img {
    width: auto;
    height: 70%;
}

.hero-text p {
    font-size: 3.3rem;
    margin-bottom: .5em;
    color: black;
    font-family: 'DM Serif Display', serif;
}

article {
    
    
    margin: .5em .75em 1.2em .75em;
    border-style: hidden;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    
}

.services p {
    font-family: 'DM Serif Display', serif;
    font-size: 3em;
    float:left;
}

.services ul {
    float:left
}

.services ul li {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    line-height: 2em;   
}

.services aside img {
    float: right;
    width: 20em;
    margin-top: 3em;
    margin-right:2em;
}


/* SLIDER STRUCTURE */

#slider {
    
    border: 5px solid #eaeaea;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    margin-top: 15em;
    width: 97%;
    height: auto;
    overflow: visible;
    position: relative;
 }

 /* HIDE ALL OUTSIDE OF THE SLIDER */

#mask {
    overflow: hidden;
    height: 200px;
 }

 /* IMAGE LIST */

#slider ul {
    margin: 0;
    padding: 0;
    position: relative;
 }
 
 #slider li {
    position: absolute;
    top: -325px; /* Original Position - Outside of the Slider */
    list-style: none;
 }

 #slider li.firstanimation {
    animation: cycle 25s linear infinite;
 }
 
 #slider li.secondanimation {
    animation: cycletwo 25s linear infinite;
 }
 
 #slider li.thirdanimation {
    animation: cyclethree 25s linear infinite;
 }
 
 #slider li.fourthanimation {
    animation: cyclefour 25s linear infinite;
 }
 
 #slider li.fifthanimation {
    animation: cyclefive 25s linear infinite;
 }

 /* ANIMATION */

@keyframes cycle {
    0%  { top: 0px; } /* When you start the slide, the first image is already visible */
    4%  { top: 0px; } /* Original Position */
    16% { top: 0px; opacity:1; z-index:0; } /* From 4% to 16 % = for 3 seconds the image is visible */
    20% { top: 325px; opacity: 0; z-index: 0; } /* From 16% to 20% = for 1 second exit image */
    21% { top: -325px; opacity: 0; z-index: -1; } /* Return to Original Position */
    92% { top: -325px; opacity: 0; z-index: 0; }
    96% { top: -325px; opacity: 0; } /* From 96% to 100% = for 1 second enter image*/
    100%{ top: 0px; opacity: 1; }
 }
 
 @keyframes cycletwo {
    0%  { top: -325px; opacity: 0; } /* Original Position */
    16% { top: -325px; opacity: 0; }/* Starts moving after 16% to this position */
    20% { top: 0px; opacity: 1; }
    24% { top: 0px; opacity: 1; }  /* From 20% to 24% = for 1 second enter image*/
    36% { top: 0px; opacity: 1; z-index: 0; }   /* From 24% to 36 % = for 3 seconds the image is visible */
    40% { top: 325px; opacity: 0; z-index: 0; } /* From 36% to 40% = for 1 second exit image */
    41% { top: -325px; opacity: 0; z-index: -1; }   /* Return to Original Position */
    100%{ top: -325px; opacity: 0; z-index: -1; }
 }
 
 @keyframes cyclethree {
    0%  { top: -325px; opacity: 0; }
    36% { top: -325px; opacity: 0; }
    40% { top: 0px; opacity: 1; }
    44% { top: 0px; opacity: 1; }
    56% { top: 0px; opacity: 1; }
    60% { top: 325px; opacity: 0; z-index: 0; }
    61% { top: -325px; opacity: 0; z-index: -1; }
    100%{ top: -325px; opacity: 0; z-index: -1; }
 }
 
 @keyframes cyclefour {
    0%  { top: -325px; opacity: 0; }
    56% { top: -325px; opacity: 0; }
    60% { top: 0px; opacity: 1; }
    64% { top: 0px; opacity: 1; }
    76% { top: 0px; opacity: 1; z-index: 0; }
    80% { top: 325px; opacity: 0; z-index: 0; }
    81% { top: -325px; opacity: 0; z-index: -1; }
    100%{ top: -325px; opacity: 0; z-index: -1; }
 }
 @keyframes cyclefive {
    0%  { top: -325px; opacity: 0; }
    76% { top: -325px; opacity: 0; }
    80% { top: 0px; opacity: 1; }
    84% { top: 0px; opacity: 1; }
    96% { top: 0px; opacity: 1; z-index: 0; }
    100%{ top: 325px; opacity: 0; z-index: 0; }
 }

 /*Services Page*/

 .services-title {
    padding-bottom: 2em;
}

.services-title p {
    font-family: 'DM Serif Display', serif;
    font-size: 3em;
}

.s-portrait-title a {
    font-size: 2em;
    font-family: 'DM Serif Display', serif;
    color: black;
    text-decoration: none;
}

.s-portrait-info {
    font-size: 1.25em;
    margin-left: .75em;
    margin-right: .75em;
    padding-top: .75em;
    padding-bottom: 2em;
    font-family: 'Josefin Sans', sans-serif;
}

.s-pet-title a {
    font-size: 2em;
    font-family: 'DM Serif Display', serif;
    color: black;
    text-decoration: none;
}

.s-pet-info {
    font-size: 1.25em;
    margin-left: .75em;
    margin-right: .75em;
    padding-top: .75em;
    padding-bottom: 2em;
    font-family: 'Josefin Sans', sans-serif;
}

.s-estate-title a {
    font-size: 2em;
    font-family: 'DM Serif Display', serif;
    color: black;
    text-decoration: none;
}

.s-estate-info {
    font-size: 1.25em;
    margin-left: .75em;
    margin-right: .75em;
    padding-top: .75em;
    padding-bottom: 2em;
    font-family: 'Josefin Sans', sans-serif;
}


/*Portrait Page*/
.portrait-title p {
    font-size: 2em;
    font-family: 'DM Serif Display', serif;
    padding: .5em;
}

.portrait-summary-title {
    font-size: 2em;
    font-family: 'DM Serif Display', serif;
    padding: .5em;
}

.portrait-summary-p p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    margin-left: .5em;
    margin-right: .5em;
}

.portrait-rates-title {
    font-size: 2em;
    font-family: 'DM Serif Display', serif;
    padding: .5em;
}

.portrait-rates-headshots {
    font-size: 1.6em;
    font-family: 'DM Serif Display', serif;
}

.portrait-rates-headshots-p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    margin-left: .5em;
    margin-right: .5em;
    padding-bottom: .5em;
    padding-top: .5em;
}

.portrait-rates-family {
    font-size: 1.6em;
    font-family: 'DM Serif Display', serif;
}

.portrait-rates-family-p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    margin-left: .5em;
    margin-right: .5em;
    padding-bottom: .5em;
    padding-top: .5em;
}

.portrait-rates-solo {
    font-size: 1.6em;
    font-family: 'DM Serif Display', serif;
}

.portrait-rates-solo-p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    margin-left: .5em;
    margin-right: .5em;
    padding-bottom: .5em;
    padding-top: .5em;
}

.portrait-tips-title {
    font-size: 1.6em;
    font-family: 'DM Serif Display', serif;
}

.portrait-tips-p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    margin-left: .5em;
    margin-right: .5em;
    padding-bottom: .5em;
    padding-top: .5em;
}

/*PET PAGE*/
.pet-title p {
    font-size: 2em;
    font-family: 'DM Serif Display', serif;
    padding: .5em;
}

.pet-summary-title {
    font-size: 2em;
    font-family: 'DM Serif Display', serif;
    padding: .5em;
}

.pet-summary-p p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    margin-left: .5em;
    margin-right: .5em;
}

.pet-rates-title {
    font-size: 2em;
    font-family: 'DM Serif Display', serif;
    padding: .5em;
}

.pet-rates-just-pets {
    font-size: 1.6em;
    font-family: 'DM Serif Display', serif;
}

.pet-rates-just-pets-p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    margin-left: .5em;
    margin-right: .5em;
    padding-bottom: .5em;
    padding-top: .5em;
}

.pet-rates-pets-and-owners {
    font-size: 1.6em;
    font-family: 'DM Serif Display', serif;
}

.pet-rates-pets-and-owners-p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    margin-left: .5em;
    margin-right: .5em;
    padding-bottom: .5em;
    padding-top: .5em;
}

.pet-tips-title {
    font-size: 1.6em;
    font-family: 'DM Serif Display', serif;
}

.pet-tips-p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    margin-left: .5em;
    margin-right: .5em;
    padding-bottom: .5em;
    padding-top: .5em;
}

/*Estate Page*/
.estate-title p {
    font-size: 2em;
    font-family: 'DM Serif Display', serif;
    padding: .5em;
}

.estate-summary-title {
    font-size: 2em;
    font-family: 'DM Serif Display', serif;
    padding: .5em;
}

.estate-summary-p p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    margin-left: .5em;
    margin-right: .5em;
}

.estate-rates-title {
    font-size: 2em;
    font-family: 'DM Serif Display', serif;
    padding: .5em;
}

.estate-rates-the-ins-and-outs {
    font-size: 1.6em;
    font-family: 'DM Serif Display', serif;
}

.estate-rates-the-ins-and-outs-p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    margin-left: .5em;
    margin-right: .5em;
    padding-bottom: .5em;
    padding-top: .5em;
}

.estate-rates-everywhere {
    font-size: 1.6em;
    font-family: 'DM Serif Display', serif;
}

.estate-rates-everywhere-p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    margin-left: .5em;
    margin-right: .5em;
    padding-bottom: .5em;
    padding-top: .5em;
}

.estate-tips-title {
    font-size: 1.6em;
    font-family: 'DM Serif Display', serif;
}

.estate-tips-p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    margin-left: .5em;
    margin-right: .5em;
    padding-bottom: .5em;
    padding-top: .5em;
}




/*Footer*/
footer {
    background-color: #21386845;
    margin-top: 1.75em;
    padding-bottom: .75em; 
    
}

.footer-logo {
    width: 8em;
    margin-left: 32%;
}

.icons img{
    width: 2em;
    height: auto;
    margin-left: 19%;
    padding-bottom: 1.75em;
}

.footer-email {
    padding-bottom: 1.75em;
}

.footer-email a {
    text-decoration: underline;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 40%;
}

.footer-ap-link a {
    text-decoration: underline;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 10%;
}


/*Desktop Viewport*/
@media (min-width:679px) {
    .logo {
        width: 45%;
        margin-left: 13%;
        margin-right: auto;
    }
    

    .hero-text {
        width: 100%;
        text-align: center;
    }

    .hero-text p {
        font-size: 3rem;
    }
}


/* Tablet Viewport*/

@media (max-width:678px) {
    .hero-text p {
        font-size: 2rem;
    }
}


/*Mobile Viewport*/

@media (max-width:428px) {
    .nav {
        display: none;
    }
    nav ul {
        display: none;
    }

  /* Style the navigation menu */
.topnav {
    background-color: #21386845;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: white;
    
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    font-size: .75em;
    text-decoration: underline;
    

  }

  .topnav #myLinks a {
    color: white;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: #21386845;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a.icon:hover {
    color: white;
    background-color: #21386845;
  }
  
  /* Add a grey background color on mouse-over */
 .topnav #myLinks a:hover {
    background-color: #21386855;

 }

  /*Logo on all non-home pages*/
.not-home-logo img {
    width: 10em;
    margin-left: 30%;
   
    
}
  
    .container {
        display: block;
    }
    .container img {
        display: block;
        text-align: center;
        width: 100%;
    }

    .hero-text p {
        text-align: center;
    }

    main {
        display: block;
        text-align: center;
    }

    .services p {
        font-family: 'DM Serif Display', serif;
        font-size: 3em;
        float:left;
        margin-left: 7%;
    }
    
    .services ul {
        float:left
    }
    
    .services ul li {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.2em;
        line-height: 2em;   
    }
    
    .services aside img {
        float: right;
        width: 140px;
        margin-top: 3em;
        margin-right:2em;
    }

    /* SLIDER STRUCTURE */

#slider {
    
    border: 5px solid #eaeaea;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
    margin-top: 15em;
    width: 97%;
    height: auto;
    overflow: visible;
    position: relative;
 }

 /* HIDE ALL OUTSIDE OF THE SLIDER */

#mask {
    overflow: hidden;
    height: 200px;
 }

 /* IMAGE LIST */

#slider ul {
    margin: 0;
    padding: 0;
    position: relative;
 }
 
 #slider li {
    position: absolute;
    top: -325px; /* Original Position - Outside of the Slider */
    list-style: none;
 }
   
 /*About Page*/
 .about-title {
    font-size: 2em;
    font-family: 'DM Serif Display', serif;
 }
 /*About Profile Cards*/
 .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 2em auto 2em auto;
    text-align: center;
    
  }
  
  .card p {
    padding-top: .75em;
    padding-bottom: .75em;
  }
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    display: inline-block;
    padding: .5em;
    color: white;
    background-color: #21386845;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
  }
  
  button:hover, a:hover {
    background-color: #21386899;
  }

  .contact-title {
    font-size: 2em;
    font-family: 'DM Serif Display', serif;

  }

/*Appointment Scheduling Form*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 25px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #21386899;
    color: white;
    padding: 12px 12px;
    border: none;
    border-radius: 4px;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #21386845;
    padding: 20px;
    font-family: 'DM Serif Display', serif;
}

/* Portrait Gallery Scroll */
.scroll-text {
    font-family: 'DM Serif Display', serif;
    font-size: 2em;
}
    div.scroll-container {
    background-color: #21386899;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
    div.scroll-container img {
    padding: 10px;
  }
}
